[Unit]
Description=auto run ros2robot
After=network.target display-manager.service

[Service]
Type=simple
User=HwHiAiUser
ExecStart=sudo /usr/bin/bash "/home/HwHiAiUser/ros/src/unionTest/handle_test.sh" 
[Install]
WantedBy=multi-user.target
#放至/etc/systemd/system/

# 启动服务
#sudo systemctl start ros2_bot
# 查看实时状态
#sudo systemctl status ros2_bot
# 停止服务
#sudo systemctl stop ros2_bot
#开启开机自启动
#sudo systemctl enable myapp